@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background: linear-gradient(45deg, #3244e4, #e306ca);
    height : 100vh;
}

html { 
    scroll-behavior: smooth;
}

#tentacles {
    width: 50px;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 62, 238);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

 a {
    color: black;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    margin-right: 40px; 
    font-size: 1.3rem;
    font-weight: bold;
   
}

a:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    background-color: rgb(150, 62, 238);
}

.stats-container {
    display: flex;
    align-items: center;
    
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}


.stats-card {
    background-color: #be8aee;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}